<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <br>
  <ion-item color="success" class="ion-text-center">
    <ion-label>Preencha os dados</ion-label>
  </ion-item>
  <br>
  <ion-card>
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Profissão</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.job"></ion-input>
    </ion-item>
  </ion-card>
  <ion-button expand="full" color="success" (click)="salvarUsuario()">SALVAR</ion-button>

  <ion-card *ngIf="usuario.id">
    <ion-card-header color="success" class="ion-text-center">
      DADOS CADASTRADOS
    </ion-card-header>
    <ion-item>
      <ion-label>
        ID: {{ usuario.id }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Nome: {{ usuario.name }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Profissão: {{ usuario.job }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Data de Cadastro: {{ usuario.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
