<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Usuários
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let user of listaUsuarios" [routerLink]="'/exibir-usuario/' + user.id">
    <ion-thumbnail slot="start">
      <img [src]="user.avatar" alt="Foto">
    </ion-thumbnail>

    <div>
      <h4>{{ user.first_name + ' ' + user.last_name }}</h4>
      <p>{{ user.email }}</p>
    </div>

    <ion-badge color="dark" slot="end">ID: {{ user.id }}</ion-badge>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" routerLink="/cadastrar-usuario">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark" class="ion-text-center">
    <ion-buttons slot="start" *ngIf="pagina > 1">
      <ion-button (click)="buscarTodosUsuarios(pagina - 1)">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    Página: {{ pagina }}

    <ion-buttons slot="end" *ngIf="pagina < totalPaginas">
      <ion-button (click)="buscarTodosUsuarios(pagina + 1)">
        <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
